<div>
  <h3><%=h rock.name %></h3>
  <p><%=format_authors rock.authors %></p>
  <%= content_tag('button', 'Install', 'data-gem-name' => rock.name) %>
  <p class="description"><%=h rock.description %></p>
</div>
