<div>
  <h3><%=h rock.name %></h3>
  <p><%=format_authors rock.authors %></p>
  <%= content_tag('button', 'Install', 'style' => 'display: none', 'data-gem-name' => rock.name, 'data-gem-version' => rock.version) %>
  <p class="description"><%=h rock.description %></p>
</div>
