<!DOCTYPE html>
<html>
  <head>
    <title>Miner • Mine your favorite gems</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/default.css">
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>