<!DOCTYPE html>
<html>
  <head>
    <title>Miner • Mine your favorite gems</title>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag 'default' %>
  </head>
  <body>
    <%= yield :layout %>
    <%= javascript_include_tag 'prototype', 'install_gem' %>
  </body>
</html>
